// PRIMARY COLORS
$primary-orange: hsl(26, 100%, 55%);
$secondary-pale: hsl(25, 100%, 94%);

// NEUTRAL COLORS
$neutral-dark-blue: hsl(220, 13%, 13%);
$neutral-dark-grayish: hsl(219, 9%, 45%);
$neutral-grayish: hsl(220, 14%, 75%);
$neutral-light-grayish: hsl(223, 64%, 98%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-black: hsl(0, 0%, 0%);
$line-color: hsl(219, 35, 92);
