/* Default styles for index.css */

/* Apply a box-sizing border-box to all elements */
* {
  box-sizing: border-box;
}

/* Set margin and padding to 0 for the body element */
body {
  margin: 0;
  padding: 0;
}
