@import "../../styles/variables";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-inline: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.25rem;

  @media screen and (min-width: 1024px) {
    padding-inline: 0;
    padding-top: 2.75rem;
    padding-bottom: 3rem;
    max-width: 1100px;
  }

  @media screen and (min-width: 1441px) {
    max-width: 1280px;
  }

  .menu-button {
    display: inline-flex;
    align-items: flex-end;
    color: $neutral-dark-grayish;
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    padding: 0;

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .logo-nav-wrapper {
    display: flex;
  }

  .navigation {
    display: none;
    @media screen and (min-width: 1024px) {
      display: flex;
      margin: 0 3.5rem;

      &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }

      &__item {
        margin: 0 2rem;
      }

      &__link {
        color: $neutral-dark-grayish;
        font-size: 15px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        border-bottom: 4px solid transparent;
        padding-bottom: 3.85rem;

        &:hover {
          color: $primary-orange;
          border-bottom: 4px solid $primary-orange;
        }
      }
    }
  }

  .mobile-navigation {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $line-color;
    z-index: 999;

    &__list {
      margin: 0;
      width: 75%;
      height: 100vh;
      background-color: $primary-orange;
      z-index: 1000;
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }

  .info {
    display: flex;
    align-items: center;
    position: relative;

    .avatar-desktop {
      display: none;

      @media screen and (min-width: 1024px) {
        display: block;
      }
    }

    .avatar-mobile {
      display: block;

      @media screen and (min-width: 1024px) {
        display: none;
      }
    }

    .cart-button {
      margin-right: 1.5rem;
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;
    
      &__container {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    
        & .cart-icon {
          color: $neutral-dark-grayish;
        }
    
        .cart-count-circle {
          position: absolute;
          top: -0.35rem;
          right: -0.45rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary-orange;
          color: $neutral-white;
          border-radius: 6.5px;
          font-size: 0.625rem;
          font-weight: 700;
          width: 1.1875rem;
          height: 0.8125rem;
          line-height: 0.75rem;
          padding-top: 1px;
        }
      }
    
      &:hover,
      &:active {
        & .cart-icon {
          color: $neutral-black;
        }
      }
    }
  }
}
